<%- include('header') %>


<form method="GET" action="/cotacao">
    
    <div class="inputForm">
        <input type="text" name="cotacao" placeholder="Cotação dólar"/><br/>
        <input type="text" name="quantidade"  placeholder="Quantidade dólares"/><br/>
    </div>

    <div class="buttonForm">
        <button>Converter!</button>
    </div>

</form>


<%- include('footer') %>